:root {
    --background-color: #F9F6F0;
    --accent-color: #0A3200;
    --title-color: #B87333;
    --link-color: #492C1D;
    --border-color: #0A3200;
    --header-color: #B87333;
    --text-color: #353839;
}

@font-face {
  font-family: 'Manstein';
  src:  url('assets/fonts/Manstein.woff2') format('woff2'),
        url('assets/fonts/Manstein.woff') format('woff');
}

body {
    font-family: 'EB Garamond', sans-serif;
    font-size: 11pt;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: left;
    line-height: 160%;
    word-wrap: break-word;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    -webkit-transition: 2s opacity;
    -moz-transition: 2s opacity;
    -ms-transition: 2s opacity;
    -o-transition: 2s opacity;
    transition: 2s opacity;
}

body.load-in {
    opacity: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

a {
    color: var(--link-color); 
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    color: var(--accent-color);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

p a {box-shadow: inset 0 -2px 0 var(--accent-color);}
p a:hover {box-shadow: inset 0 -1.25em 0 var(--accent-color); color: var(--background-color);}

blockquote {
    padding: 0 0 0 1.25em;
    border-left: 1px solid var(--border-color);
    margin: 1.25em 0 1.25em 1.25em;
}

h2, h3, h4, h5, .title {
    color: var(--title-color);
    letter-spacing: 2px;
    line-height: 160%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: '{select:title font}', serif;
}

h2 a, h3 a, h4 a, h5 a, .title a {color: var(--title-color);}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, .title a:hover {color: var(--accent-color)}
h2 {font-size: 1.3em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}

small {font-size: 0.9em;}
big {font-size: 1.1em;}
b, bold, strong {color: var(--title-color);}

hr {
    height: 1px;
    border: none;
    background-color: var(--border-color);
}

ul {list-style-type: circle;}
ol {list-style-type: decimal;}
li {max-width: 100%;}

.tippy-tooltip.custom-theme {
    background-color: var(--title-color);
    color: var(--background-color);
    border-radius: 3px;
    text-align: center;
    font-family: inherit;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: normal;
    padding: 0.25em;
    margin: 20px auto auto 10px;
    font-size: 0.8em;
}

::-webkit-scrollbar {
    width: 17px; 
    height: 17px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-track {border: 8px solid var(--background-color); background-color: var(--border-color);}
 
::-webkit-scrollbar-thumb {
   border: 6px solid var(--background-color);
   background-color: var(--title-color);
   min-height: 24px;
   min-width: 24px;
}

.tmblr-iframe-compact .tmblr-iframe--unified-controls {
    z-index: 999999999!important;
    opacity: 0.6;
    transform: scale(0.8);
    transform-origin: 100% 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 100% 0;
    -o-transform: scale(0.8);
    -o-transform-origin: 100% 0;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 100% 0;
    -ms-transform: scale(0.8);
    -ms-transform-origin: 100% 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
 
.tmblr-iframe-compact .tmblr-iframe--unified-controls:hover {
    opacity: 1.0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
 
.tmblr-iframe--app-cta-button {display: none !important;}

/*----- HEADER NAVIGATION -----*/

#top-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    padding: 1.25em;
    text-align: center;
    z-index: 100;
    background-color: var(--header-color);
}

#top-bar nav {font-size: 1em;}
#top-bar nav li {display: inline-block; list-style-type: none;}

#top-bar nav li::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: inline-block;
    vertical-align: middle;
    margin: auto 1.5em 0.15em 1.5em;
}

#top-bar nav li:last-of-type::after {display: none;}
#top-bar li a {color: white; border-bottom: 4px solid transparent; padding-bottom: calc(1.25em - 1px);}
#top-bar li a:hover {border-bottom: 4px solid var(--accent-color);}

/*----- BANNER -----*/

#banner-container {
    width: 100%;
    position: relative;
    margin: auto;
    top: 4.05em;
}

#banner {
    position: relative;
    width: 100%;
    height: 700px;
    color: white;
    overflow: hidden;
}

.home {
    background-image: url('assets/images/headerPic.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.faq {
    background-image: url('assets/images/faqPic.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.story {
    background-image: url('assets/images/storyPic.jpg');
    background-position: 15% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}

.party {
    background-image: url('assets/images/partyPic.jpg');
    background-position: 15% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}


#banner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
    margin: auto;
	text-align: center;
}

#banner-title {
    font-family: 'Manstein', serif;
    font-weight: 700;
    font-size: 4.5em;
    line-height: 160%;
    flex: initial;
}

#banner-subtitle {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.25em 0.75em;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 0.75em;
    flex: initial;
}

/*----- MAIN CONTAINERS -----*/

#container {
    width: calc(540px + 275px + 275px + 150px);
    margin: 125px auto auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

aside {
    position: relative;
    width: 275px;
    height: auto;
    flex: initial;
    display: block;
}

/*----- SIDE BOXES -----*/

.side-box {
    box-sizing: border-box;
    background-color: var(--background-color);
    margin-bottom: 75px;
    border: 1px double var(--border-color);
    padding: 1.5em;
    text-align: center;
}

.side-box .title {
    font-size: 1em;
    color: var(--title-color);
    text-align: center;
    margin-top: -2.25em;
}

.side-box .title span, .askpost .title span {
    background-color: var(--background-color);
    padding: 0.25em 1.25em;
}

.side-box .title::after {
    content: '';
    width: 25px;
    margin: 0.5em auto auto auto;
    display: block;
    border-bottom: 5px dotted var(--accent-color);
}

.side-box img {max-width: 100%;}

.side-content {box-sizing: border-box;  margin-top: 1em;}

#side-img {max-width: 100%; margin-bottom: 2em;}

/*----- NAVIGATION BOX -----*/

#nav-box .side-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

#nav-box li {
    list-style-type: none;
    width: 48%;
    margin-bottom: 0.5em;
}

#nav-box li a {padding: 0.15em 0.25em;}
#nav-box li a, #nav-box li a:hover {border-bottom: none;}

#nav-box li a .numbers {
    color: var(--title-color);
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    margin-right: 0.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#nav-box li a:hover {color: var(--background-color); box-shadow: inset 0 -1.5em 0 var(--accent-color);}

#nav-box li a:hover .numbers {
    color: var(--background-color);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*----- UPDATES -----*/

#updates-box .side-content {
    list-style-type: none; 
    margin-top: 1em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#updates-box .side-content .subtitle {
    float: left;
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
}

#updates-box .side-content .subtitle span {
    font-size: 1.5em;
    display: block;
    font-family: '{select:title font}', serif;
    font-weight: bold;
}

#updates-box .upd-text {
    text-align: left;
    padding-left: 1em;
    width: 75%;
}

#countDays {
    font-size: 1.2em;
    padding-right: 1.2em;
}

#countHours {
    font-size: 1.2em;
    padding-right: 1.2em;
}

#countMins {
    font-size: 1.2em;
    padding-right: 1.2em;
}

#countSecs {
    font-size: 1.2em;
}

/*----- PROJECTS BOX -----*/

#project-box .project {
    text-align: left;
    background-color: var(--title-color);
    border-radius: 3px;
    overflow: hidden;
    color: var(--background-color);
    margin-top: 1em;
}

#map {
    width: 225px;
    height: 225px;
}

#project-box .project img {width: 100%;}
#project-box .project-text {padding: 1.5em;}
#project-box .project-text li {list-style-type: none; color: var(--background-color);}
#project-box .subtitle {color: var(--background-color); font-size: 1.15em;}
#project-box .project .upper {color: var(--background-color); margin-right: 0.5em;}

#project-box .project a {
    background-color: var(--accent-color);
    color: var(--background-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    padding: 0.25em 0.75em;
    border-radius: 3px;
    margin-top: 0.5em;
    text-align: center;
    box-sizing: border-box;
    display: block;
}

#project-box .project a:hover {background-color: var(--background-color); color: var(--title-color);}

/*----- MEMBERS BOX -----*/

#members-box li.blog-member {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-top: 0.75em;
}

#members-box li.blog-member:first-of-type {margin-top: 0;}

#members-box .blog-member .icon {
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

#members-box .blog-member a {color: var(--title-color); font-weight: bold;}
#members-box .blog-member a:hover {color: var(--accent-color);}
#members-box li.blog-member a, #members-box li.blog-member a:hover {border-bottom: none;}

/*----- MAIN BODY -----*/

.contentHome {
    flex: initial;
    height: auto;
    width: 500px;
    display: block;
    text-align: center;
}

h1 {
    font-family: 'Manstein', sans-serif;
    color: var(--accent-color);
    font-size: 3em;
}

.rsvp {
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    display: inline-block;
    transition-duration: 0.4s;
}

.rsvp:hover {
    background-color: var(--link-color);
    color: white;
    transition-duration: 0.4s;
}

/*FAQ accordion assets*/
.accordion {
  background-color: var(background-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
  outline: none;
  font-size: 1.3em;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--title-color);
}

.accordion:after {
  content: '\22C1';
  color: var(--text-color);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 1em;
}

.active:after {
  content: '\22C0';
}

.panel {
  padding: 0 18px;
  background-color: var(--background-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
}

/*-- IMAGE GALLERY --*/
.scrollContainer {
    background-color: var(--background-color);
    overflow: auto;
    white-space: nowrap;
    padding: 2rem;
    width: 100%;
}

.scrollContainer img {
    padding: 2rem;
}

/*----- AFFILIATES BOX -----*/

#affiliates-box .side-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

#affiliates-box a {
    border: 1px solid var(--border-color);
    padding: 3px;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    line-height: 10px;
    margin: 4px auto;
    overflow: hidden;
}

#affiliates-box a:hover {border: 1px solid var(--accent-color);}

#affiliates-box a svg {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    fill: var(--background-color);
    padding: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

#affiliates-box img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#affiliates-box img:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*----- STATSTICS BOX -----*/

#stats-box li {list-style-type: none; text-align: left;} 

#stats-box .upper {color: var(--title-color); margin-right: 0.5em;}

/*----- STATUS BOX -----*/

#status-box .status-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 0.25em;
}

.status-item:first-of-type {margin-top: 1em;}

.toggle-on, .toggle-off {
    width: 2em;
    height: 1em;
    border-radius: 1em;
}

.toggle-on {background-color: var(--accent-color);}
.toggle-off {background-color: var(--title-color);}

.toggle-on::before, .toggle-off::before {
    content: '';
    display: inline-block;
    border: 1px solid var(--border-color);
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    background-color: var(--background-color);
    box-sizing: border-box;
}

.toggle-on::before {margin: -0.25em auto 0.05em 1.1em;}
.toggle-off::before {margin: -0.25em auto 0.05em -1.1em;}

/*---- RESPONSIVENESS -----*/

@media only screen and (max-width: 1365px) and (min-width: 1279px) {
    #container {
        width: calc(540px + 275px + 275px + 100px);
    }
    
}

@media only screen and (max-width: 1278px) {
    body {
        overflow-x: hidden;
    }
    #container{
        width: 95%;
    }

    .contentHome{
        width: 100%;
    }
    
    aside {display: none;}
    
    
    #posts-wrap, article {max-width: 400px;}
}
